
#video{
    margin-left: 30%;
    margin-top: 5%;
    border-radius: 15px;
}

.botones{
    width: 50px;
    height: 50px;
    margin-left: 15px;
}

#mute{
    margin-left: 35.5%;
    
}
#forward{
    transform: rotate(180deg);
}

#barraDiv{
    margin-top: 2%;
    margin-left: 33%;
}
#barraDiv2{
    margin-left: 33%;
}
progress{
    width: 50%;
}

.otrosVideos{
    width: 45%;
}

.divSeleccionar{
    position: absolute;
    top: 13%;
    left: 73%;
}