.lapiz{
    width: 2.7%;

}

.equis{
    width: 3%;

}

.fila{
    margin-left: 6%;
    margin-top: 3%;
}

.nombre,.dni,.apellidos{
    margin-left: 2%;
    float: left;
}


#suma{
    background-color: gray;
    border: 2px solid black;
    height: 150px;
    width: 150px;
    position: absolute;
    top: 70%;
    right: 10%;

    border-radius: 100px;
}

#suma p{
    position: absolute;
    top: 17%;
    right: 44%;
    font-size: 30px;
}